# Entorno virtual
venv/
env/

# Archivos compilados de Python
__pycache__/
*.pyc

# Configuración de VS Code
.vscode/

# Base de datos local
*.db
*.sqlite3

# Pdfs del proyecto (no es necesario subirlos a git)
*.pdf